* text=auto eol=lf

*.md text eol=lf
*.php text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

/tests export-ignore
/.github export-ignore
/phpunit.xml.dist export-ignore
/phpstan.dist.neon export-ignore
